.become {
  background-color: #fff;
  padding: 150px 0 120px;

  &__title {
    max-width: 45%;
  }

  &__list {
    margin-top: 95px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 2%;
    overflow: hidden;
    border-radius: 4px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: var(--neptune-color);
      border-radius: 4px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover::before {
      opacity: 0.9;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover .become__text {
      transform: translateY(0);
      transition: transform 0.3s ease-in-out;
    }
  }

  &__text {
    max-width: 235px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 53px;
    padding-bottom: 60px;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    color: var(--white-color);
    transform: translateY(300px);
    transition: transform 0.3s ease-in-out;
  }
}


@media (max-height: 1079px) {
  .become__container {
    padding: 0 30px;
  }
}
