.featured {
  position: relative;
  height: 1080px;
  background-image: url("../img/featured.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    color: var(--white-color);
  }

  &__stories {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background-color: rgba(60, 74, 81, 0.9);
    color: var(--white-color);
    padding: 127px 133px;
  }

  &__article {
    padding-bottom: 105px;
  }

  &__article-category {
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 18px 31px;
    background-color: var(--accent-color);
    border-radius: 24px;
    margin-bottom: 16px;
  }

  &__article-title {
    width: 41%;
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  &__article-descr {
    width: 41%;
    font-family: "SFCompact", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  &__article-link {
    background-color: var(--neptune-color);
  }

  &__stories-title {
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    max-width: 50%;
    margin-bottom: 95px;
  }

  &__list-item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    &:last-child .featured__list-article {
      border-bottom: 1px solid transparent;
      margin-bottom: 0;
    }
  }

  &__list-article {
    display: flex;
    align-items: flex-start;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(227, 227, 227, 0.1);
  }

  &__list-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 32px;
  }

  &__list-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    max-width: 90%;
  }

  &__list-time {
    display: block;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    font-family: "SFProText", sans-serif;
    color: rgba(255, 255, 255, 0.502293);
  }
}
