.first {
  height: 100vh;
  min-height: 600px;
  background-image: url("../img/first-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
  padding-top: 220px;

  &__container {
    position: relative;
    height: 100%;
  }

  &__link {
    padding: 17px 30px;
    background-color: rgba(28, 46, 61, 0.4);
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 24px;
    margin-bottom: 38px;
  }

  &__title {
    max-width: 40%;
    font-size: 80px;
    line-height: 84px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__descr {
    max-width: 31%;
    font-family: "SFCompact";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 60px;
  }

  &__btn {
    padding: 30px 80px;
    background-color: var(--accent-color);
    border-radius: 8px;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: calc(100% - 60px);
    display: flex;
  }

  .search__form {
    position: relative;
    flex-shrink: 0;
    width: 70%;
  }
}
