.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;


  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 0;
  }
}

@media (max-height: 1079px) {
  .header__container {
    padding: 55px 30px;
  }
}
