.inspiration {
  padding-top: 100px;
  padding-bottom: 50px;

  &__title {
    margin-bottom: 25px;
  }

  &__descr {
    max-width: 40%;
    margin: 0 auto;
    font-family: "SFCompact", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    color: #788692;
    margin-bottom: 95px;
  }

  &__content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(500px, auto);
    grid-gap: 32px;
  }

  &__grid-item {
    position: relative;
    background-color: #E3E3E3;
    border-radius: 8px;

    &--big {
      grid-column-end: span 2;
    }

    &--height {
      height: 710px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 65%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.647277) 100%);
    }
  }

  &__grid-link {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 800;
    letter-spacing: 1.1px;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: rgba(28, 46, 61, 0.47);
    padding: 22px 40px;
    border-radius: 28px;
  }

  &__grid-text {
    position: absolute;
    left: 40px;
    bottom: 120px;
    color: var(--white-color);
  }

  &__grid-descr {
    font-size: 10px;
    line-height: 12px;
    font-weight: 800;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__grid-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
}

