.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;

  &__fz14 {
    font-size: 14px;
    line-height: 21px;
  }

  &__fz16 {
    position: relative;
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
    z-index: 1;

    @include before__cirle;
  }

  &__fz20 {
    font-size: 20px;
    line-height: 30px;
  }

  &__fz36 {
    font-size: 36px;
  }

  &__fz48 {
    font-size: 48px;
  }

  &__center {
    position: relative;
    text-align: center;
    padding-left: 0;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__subtitle {
    text-align: center;
  }
}
