.video {
  padding-top: 150px;
  padding-bottom: 50px;

  &__title {
    margin-bottom: 25px;
  }

  &__descr {
    font-family: "SFCompact", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    color: #788692;
    max-width: 39%;
    margin: 0 auto;
  }

  &__slider-container {
    width: 100%;
    overflow-x: hidden;
    margin-top: 95px;
    padding: 60px 0;
  }
}
